/* styles.css */

/* Estilos para la paginación */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 20px 0;
  }
  
  .pagination li {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    cursor: pointer;
    border-radius: 4px;
  }

  .pagination li a {
    text-decoration: none;
    color: inherit;
    display: block; /* Expande el área clickeable a todo el botón */
    width: 100%;
    height: 100%;
}
  
  .pagination li.active {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
  }

  .active-link {
    color: #fff;
  }
  
  .pagination li:hover {
    background-color: #f2f2f2;
  }
  
